html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.main {
    margin: 0 0 -13px 0;
}

.content {
    font-family: "Open Sans";
    color: #6d6d6d;
    min-height: 1000px;
    padding-bottom: 41px;
    margin-top: 115px;
}

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #000;
    background: #ececec;
    text-align: center;
    font-size: 14.39px;
    color: #787878;
    z-index: 2;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans";
    height: 41px;
    line-height: 41px;
    border-top: 0;
}

.about-block {
    width: 100%;
    background: #ffd98d;
}
.about-block .wrap {
    text-align: center;
    margin: 0 auto;
    font-size: 17.98px;
    width: 100%;
    max-width: 1030px;
    line-height: 21px;
    padding: 18px 15px 22px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.agencies_header_search_line__wrapper {
    height: 106px;
    bottom: -85px;
}
.js-fixed .agencies_header_search_line::before {
    display: none;
}
.agencies_header_search_menu {    
    width: 100%;
    height: 63px;
    background-color: #fff;
    border-bottom: 1px solid #dedddb;
    border-left: 1px solid #dedddb;
    border-right: 1px solid #dedddb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    display: table;
}
html .agencies_header_search_menu:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -8px;
    background: url('../img/scrolling_shadow_pattern.png') 0 0 repeat-x;
    width: 100%;
    height: 8px;
}
.short-text {
    display: none;
}
.agencies_header_search_menu ul {
    padding: 0;
    width: 693px;
    margin: 0 auto;
    padding: 19px 0 0;
    font-size: 17.98px;
    text-align: justify;
}
.agencies_header_search_menu ul::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.agencies_header_search_menu ul li {
    position: relative;
    display: inline-block;
    font-family: "Arial";
    text-transform: uppercase;
    letter-spacing: -0.2px;
}
.agencies_header_search_menu ul li.active a::before,
.agencies_header_search_menu ul li:hover a::before
{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #ffd98d;
    position: absolute;
    left: 0;
    bottom: -23px;
}
.agencies_header_search_menu ul li a {
    display: block;
    height: 20px;
    text-decoration: none;
    border-bottom: 0;
    color: #7d7d7d;
    position: relative;
}

.advantages-blocks {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    max-width: 1200px;
    width: 100%;
    margin: 30px auto -4px;
}
.advantages-blocks::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.advantages-block {
    display: inline-block;
    width: 243px;
    height: 260px;
    border: 1px solid #dedddb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    margin: 0 30px 34px;
    font-family: "Arial";
}
.advantages-block .img {
    padding: 31px 0 27px;
    height: 70px;
    width: 100%;
    text-align: center;
}
.advantages-block .img img {
    width: auto;
    height: auto;
    display: inline-block;
}
.advantages-block .title {
    text-align: center;
    font-size: 19.18px;
    color: #6d6d6d;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.advantages-block .description {
    text-align: center;
    color: #8c8c8c;
    font-size: 15.58px;
}

.command-text .wrap {
    padding: 23px 15px 27px;
}

.command-blocks {
    width: 100%;
    margin: 30px 0 30px;
    overflow: hidden;
    height: 532px;
    position: relative;
    font-family: "Open Sans";
}
.command-blocks .wrap {
    position: absolute;
    width: 1417px;
    height: 532px;
    left: 50%;
    margin-left: -708px;
    padding: 1px 0 0 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.m-smartphone .command-blocks .ws_next,
.m-smartphone .command-blocks .ws_prev
{
    display: none;
}
.command-blocks .ws_next,
.command-blocks .ws_prev
{
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    z-index: 60;
    height: 50px;
    width: 50px;
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
    border: none;
}
.command-blocks .ws_next {
    background-position: -50px 0;
    right: 10px;
}
.command-blocks:hover .ws_next,
.command-blocks .ws_next:hover
{
    background-position: -50px -50px;
}
.command-blocks .ws_prev {
    background-position: 0 0;
    left: 10px;
}
.command-blocks:hover .ws_prev,
.command-blocks .ws_prev:hover
{
    background-position: 0 -50px;
}
.command-block {
    margin: -1px 0 0 -1px;
    float: left;
    width: 178px;
    height: 178px;
    padding: 29px 0 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.command-block .name {
    font-size: 21.58px;
    color: #7d7d7d;
    text-transform: uppercase;
    line-height: 27px;
    margin: 0 0 11px;
}
.command-block .post {
    font-size: 16.18px;
    color: #8c8c8c;
    line-height: 21px;
}
.command-block.full {
    width: 178px;
    height: 178px;
    border: 1px solid #dedddb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    padding: 0;
}
.command-block.full img {
    width: 176px;
    height: 176px;
}

.big-work-text .wrap {
    font-size: 23.98px;
    text-transform: uppercase;
    line-height: 27px;
    padding: 24px 15px 25px;
    position: relative;
}
.big-work-text .wrap::after {
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 50px;
    right: 50%;
    margin-right: -253px;
}
.big-work-text .wrap::before {
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 50px;
    left: 50%;
    margin-left: -256px;
}

.work-blocks {
    width: 100%;
    margin: 28px 0 0;
}
.work-blocks .wrap {
    max-width: 1100px;
    margin: 0 auto;
}
.work-block {
    width: 451px;
    height: 226px;
    border: 1px solid #dedddb;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 30px;
}
.work-block.left {
    float: left;
    margin-left: 30px;
    margin-right: 22px;
}
.work-block.right {
    float: right;
    margin-right: 22px;
}
.work-block .img {
    position: relative;
    width: 224px;
    height: 224px;
}
.work-block.left .img {
    float: right;
    margin-left: 30px;
}
.work-block.right .img {
    float: left;
    margin-right: 30px;
}
.work-block .img:hover .colourful {
    display: none;
}
.work-block .img:hover .black {
    display: block;
}
.work-block .img .black {
    display: none;
}
.work-block.left .img::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 101px;
    border: 11px solid transparent;
    border-left: 11px solid #fff;
}
.work-block.right .img::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 101px;
    border: 11px solid transparent;
    border-right: 11px solid #fff;
}
.work-block .text {
    font-size: 20.38px;
    color: #787878;
    font-family: "Open Sans";
    line-height: 25px;
    display: table-cell;
    vertical-align: middle;
    height: 224px;
    width: 195px;
}
.work-block.left .text {
    text-align: right;
}
.work-block.right .text {
    text-align: left;
}

.guarantees-text .wrap {
    padding: 24px 0 25px;
    max-width: 632px;
    position: relative;
}
.guarantees-text span {
    display: inline-block;
    position: relative;
    font-size: 23.98px;
    text-transform: uppercase;
    line-height: 27px;
    height: 27px;
}
.guarantees-text span::before{
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 13px;
    left: -37px;
}
.guarantees-text span::after{
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 13px;
    right: -37px;
}
.guarantees-btn {
    display: inline-block;
    width: 198px;
    height: 35px;
    border: 0;
    background: url(../img/guarantees_btn.jpg) bottom no-repeat;
    color: #787878;
    text-transform: uppercase;
    font-size: 17.98px;
    margin: -2px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 0 0 0;
    text-align: center;
}
.guarantees-btn.left {
    position: absolute;
    left: 0;
}
.guarantees-btn.right {
    position: absolute;
    right: 0;
}
.guarantees-btn.active {
    background-position: top;
}
.guarantees-btn:hover {
    border: 0;
    color: #787878;
}

.guarantees-blocks {
    width: 100%;
}
.guarantees-blocks .wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.hide {
    display: none;
}
.guarantees-block .img {
    width: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    max-height: 567px;
    box-sizing: border-box;
    border-right: 1px solid #dedddb;
}
.guarantees-block .img img {
    display: block;
    width: auto;
    height: auto;
    float: right;
}
.guarantees-block .text {
    float: left;
    width: 50%;
    padding: 25px 0 0;
}
.guarantees-block .item {
    font-size: 17.98px;
    line-height: 23px;
    font-family: "Open Sans";
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 82px;
    margin: 0 0 35px;
    max-width: 548px;
}
.guarantees-block .item:last-child {
    margin-bottom: 22px;
}
.guarantees-block .item .number {
    display: block;
    width: 34px;
    height: 35px;
    position: absolute;
    background: #ffd98d;
    /*background: url(../img/check.jpg) center no-repeat;*/
    top: 5px;
    left: 30px;
    color: #fff;
    font-weight: bold;
    font-family: "fregatbold";
    font-size: 24px;
    text-align: center;
    line-height: 35px;
}
.guarantees-block .text-gray {
    color: #787878;
    margin: 0 0 12px;
}
.guarantees-block .text-gray a {
    color: #787878;
    text-decoration: underline;
    border: 0;
}
.guarantees-block .text-gray a:hover {
    color: #787878;
    text-decoration: none;
    border: 0;
}
.guarantees-block .text-orange {
    color: #d29b2e;
}
.guarantees-block .text-orange a {
    color: #d29b2e;
    text-decoration: underline;
    border: 0;
}
.guarantees-block .text-orange a:hover {
    color: #d29b2e;
    text-decoration: none;
    border: 0;
}

.contacts-text .wrap {
    padding: 24px 0 25px;
    max-width: 632px;
}
.contacts-text span {
    display: inline-block;
    position: relative;
    font-size: 23.98px;
    text-transform: uppercase;
    line-height: 27px;
    height: 27px;
}
.contacts-text span::before{
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 14px;
    left: -48px;
}
.contacts-text span::after{
    content: '';
    display: block;
    width: 19px;
    height: 3px;
    position: absolute;
    background: #787878;
    top: 14px;
    right: -44px;
}

.contacts-block {
    background: #ffe5b2;
    width: 100%;
}

.contacts-block .wrap {
    width: 100%;
    max-width: 745px;
    /*max-width: 1000px;*/
    padding: 0 15px;
    margin: 0 auto;
    font-family: "Open Sans";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-block .before-form,
.contacts-block .after-form
{
    text-align: center;
    padding: 26px 0 30px;
}
.contacts-block .curr-phone {
    color: #787878;
    font-size: 23.98px;
    display: inline-block;
    background: #ffd98d;
    border: 2px solid #ffd47d;
    border-radius: 2px;
    padding: 5px 12px;
    letter-spacing: 0.1px;
    margin: 0 0 21px;
}
.contacts-block .curr-phone a {
    border: 0;
    color: #787878;
}
.contacts-block .curr-address {
    color: #787878;
    font-size: 17.98px;
    margin: 0 0 26px;
}
.contacts-block .chose-address {
    color: #787878;
    font-size: 17.98px;
    margin: 0 0 20px;
}
.contacts-block .chose-address a {
    color: #787878;
    border: 0;
    text-decoration: underline;
}
.contacts-block .chose-address a:hover {
    color: #787878;
    text-decoration: none;
}
.contacts-block .links {
    color: #787878;
    font-size: 17.98px;
}
.contacts-block .links a {
    color: #d29b2e;
    border: 0;
    text-decoration: underline;
}
.contacts-block .links a:hover {
    color: #d29b2e;
    text-decoration: none;
}

.contacts-form {
    width: 100%;
    padding: 25px 0 19px;
}
.contacts-form .row {
    width: 100%;
    text-align: justify;
}
.contacts-form .row::after {
    content: '';
    display: inline-block;
    width: 100%;
}
.contacts-form input[type="text"],
.contacts-form input[type="email"],
.contacts-form textarea,
.contacts-form select
{
    width: 100%;
    border: 2px solid #ffd47d;
    font-family: "Open Sans";
    color: #8c8c8c;
    font-size: 14.39px;
}
.contacts-form input[type="text"],
.contacts-form input[type="email"],
.contacts-form select
{
    height: 43px;
    line-height: 20px;
}
.contacts-form textarea {
    height: 97px;
    resize: none;
}
.contacts-form select {
    height: 39px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.contacts-form select:focus {
    border: none;
}
.contacts-form .select-style {
    border: 2px solid #ffd47d;
    background: #fff url("../img/arrow-select.png") no-repeat 95% 50%;
}
.contacts-form .col30 {
    width: 30%;
    overflow-x: hidden;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 15px;
}
.contacts-form .col100 {
    width: 100%;
    display: inline-block;
    margin: 0 0 19px;
}
.contacts-form .col41 {
    width: 41%;
    display: inline-block;
}
.contacts-form .col55 {
    width: 55%;
    display: inline-block;
}
.contacts-form .links {
    color: #d29b2e;
}

.contacts-form .select2-container {
    width: 100%;
    height: 43px;
}
.contacts-form .select2-container .select2-choice {
    border: 2px solid #ffd47d;
    font-family: "Open Sans";
    color: #8c8c8c;
    font-size: 14.39px;
    height: 39px;
    line-height: 39px;
    border-radius: 0;
    background: #fff;
}
.contacts-form .select2-container .select2-choice .select2-arrow {
    border: none;
    background: #fff;
}
.contacts-form .select2-container .select2-choice .select2-arrow b {
    background-position: 0 7px;
}
.contacts-form .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 7px;
}
.select2-drop {
    border: 2px solid #ffd47d !important;
    box-shadow: none !important;
}
.select2-results .select2-highlighted {
    background: #ffdd97 !important;
    border-top: 2px solid #ffd47d;
    border-bottom: 2px solid #ffd47d;
}
.select2-results {
    padding: 0 !important;
    margin: 0 !important;
}
.select2-results li {
    color: #8c8c8c !important;
    font-size: 14.39px !important;
    font-family: "Open Sans";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.yandex-map {
    height: 364px;
    border-top: 1px solid #dedddb;
    border-bottom: 1px solid #dedddb;
}


/* если меньше 994 */
@media only screen and (max-width: 994px) {
    .short-text {
        display: inline;
    }
    .full-text {
        display: none;
    }
    .content {
        padding-bottom: 43px;
        margin-top: 115px;
    }

    .main .agencies_header_search_line__wrapper {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .agencies_header_search_line__wrapper .agencies_header_search_line {
        width: 100% !important;
        min-width: 100% !important; 
        margin: 0 auto !important;
        left: auto !important;
    }
    .agencies_header_search_line__wrapper .agencies_header_search_menu {
        width: 100%;
        min-width: 100%; 
        margin: 0 auto;
    }
    .agencies_header_search_menu ul {
        width: 500px;
        min-width: 500px;
    }

    .advantages-blocks {
        max-width: 640px;
    }
}
/* если меньше 994 до 800 */
@media only screen and (min-width: 800px) and (max-width: 994px) {

}

/* если меньше 800 */
@media only screen and (max-width: 799px) {
    .work-block.left {
        margin-right: 34px;
    }
    .work-block.right {
        margin-right: 34px;
    }

    .guarantees-text .wrap {
        max-width: 546px;
    }
    .guarantees-text span::before{
        display: none;
    }
    .guarantees-text span::after{
        display: none;
    }
    .guarantees-block .img {
        display: none;
    }
    .guarantees-block .text {
        width: 100%;
    }
    .guarantees-block .text .item {
        margin-left: auto;
        margin-right: auto;
    }
    .guarantees-block .text .item:last-child {
        margin-bottom: 25px;
    }
    .yandex-map {
        height: 252px;
    }
    .no_800 {
        display: none;
    }

    .contacts-form .col30 {
        width: 100%;
    }
    .contacts-form .col41 {
        width: 100%;
        margin: 0 0 15px;
    }
    .contacts-form .col55 {
        width: 100%;
    }
    .contacts-form .col55 .links {
        text-align: justify;
    }
    .contacts-form .col55 .links a {
        display: inline-block;
    }
    .contacts-form .col55 .links::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

/* если меньше 992 */
@media only screen and (max-width: 992px) {
    .work-block.left {
        float: none;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .work-block.right {
        float: none;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
}

/* если меньше 791 */
@media only screen and (max-width: 791px) {
    /*.agencies_header_search_line__wrapper .agencies_header_search_menu {*/
        /*left: 15px !important;*/
        /*margin-left: 0 !important;*/
    /*}*/

    .agencies_header_search_line__wrapper.js-fixed .agencies_header_search_menu {
        position: relative;
        left: -1px;
    }
}

/* new 25.12.15 */
.scroll_contacts.contacts-text span::before,
.scroll_contacts.contacts-text span::after,
.big-work-text .wrap::before,
.big-work-text .wrap::after
{
    display: none;
}
/* end new 25.12.15 */